/* コンテナ要素のデザイン指定 */
.container{
    display:grid;
    grid-template: /*行と列の構成、かつ「エリア名」をまとめて定義するプロパティ */
    "item_A item_B item_C" 180px /*1行目:左からitem_A item_B item_Cを並べ、高さを180pxに設定 */
    "item_A item_D item_D" 100px /*2行目:左に item_A,右側2つをitem_Dが横にまたがる。高さを100pxに設定 */
    / 800px 1fr 1fr; /* 列幅:左から800px,残りを1frずつ(等分)で設定 */
}

/*アイテム要素のデザイン指定 */

/* アイテムAのデザイン指定 */
.itemA{
    grid-area: item_A; /* grid-templateで定義した"item_A"のエリアに配置*/
    background-color:#f28b82; /*背景色を優しい青(#aecbfa)に設定 */
}

/* アイテムAのデザイン指定 */
.itemB{
    grid-area: item_B; /* "itemB"のエリアに配置*/
    background-color:#aecbfa; /*背景色を優しい青(#aecbfa)に設定 */
}

/* アイテムCのデザイン指定*/
.itemC{
    grid-area: item_C; /* "item_C"のエリアに配置*/
    background-color: #ccff90; /*背景色をやさしい緑(#ccff90)に設定 */
}

/*アイテムDのデザイン指定 */
.itemD{
    grid-area: item_D; /* "item_D"のエリアに配置(2列分の広いエリア) */
    background-color: #fff475; /* 背景色を優しい黄色(#fff475)に設定 */
}