.container{
    display:flex;/*要素をフレックスボックスレイアウトにする(子要素を柔軟に横方向へ並べられるようにする) */
    justify-content: flex-start; /*子要素を左寄席で配置(デフォルト設定) */
    justify-content: flex-end; /*子要素を右寄せで配置　*/
    /* justify-content: center; *//*子要素を中央ぞろえで配置 */
    /* justify-content: space-between; */ /*両端に要素を配置し、間を均等に空ける */
    justify-content: space-evenly; /*要素間と左右恥の余白をすべて均等にする(均等配置) */
    width: 500px;/*コンテナの横幅を500pxに設定*/
    border: 1px solid #000;/*コンテナ全体の外枠に黒い1pxの実線をつける */
}

.item{
    border:1px solid #000; /* 各アイテムの周囲に黒い1pxの実線をつける(アイテムの位置を確認しやすくする) */
}