p:before{
    content: "★";
}

p:after{
    content: "☆";
}

.title{
    display:flex; /*フレックスボックスを有効にする。議事要素(::before,::after)とテキストを横並びに配置できるようにする */
    gap: 8px; /* 子要素(議事要素とテキスト)の間に8pxの隙間をつくる */
    align-items: center; /* フレックス軸(縦方向)で中央ぞろえにし、縦線と文字の高さをそろえる */
}

.title::before,
.title::after{
    width: 8px; /* 疑似要素の横幅を8pxに設定(細い縦帯になる) */
    height: 34px; /* 疑似要素の高さを34pxに設定(テキストとそろうくらいの高さ) */
    content:""; /*疑似要素を生成する(空の内容でも必須) */
    background: #f28b82; /* 背景色をやさしい赤(ピンク系)に設定し、縦線を表現する */
}