* {
    box-sizing: border-box;
    /* 幅や高さを「padding」と「border」を含めて計算(レイアウト崩れ防止) */
    padding: 0;
    /*すべての要素の内側余白をリセット */
    margin: 0;
    /*すべての要素の外側余白をリセット */
}

.side {
    display: none;
}

body {
    color: #1f2530;
    width: auto;
    height: auto;
    /*文字色をやや暗めのグレーに設定(可読性の高い基本色) */
    background-color: #fff;
    /*　ページ全体の背景色を白に設定 */
}

/*　コンテナ要素のデザイン指定 */
.layout {
    display: grid;
    /*要素をグリッドレイアウトにする(子要素をマス目状に配置できるようにする) */
    grid-template:
        /*グリッドの構成(行・列・エリア名)をまとめて定義するプロパティ */
        "header header header" auto
        /* 1行目: 3列すべてをヘッダーで占め,高さは自動(auto) */
        "side   ...... ......" 10px
        /*2行目: 空白行(点は何も配置しない)。高さ10pxの余白として利用 */
        "side   ...... main  " minmax(200px, 1fr)
        /*3行目:左サイド、中央は空白、右にメイン。高さは最小200px~最大1frで可変 */
        "side   ...... ......" 10px
        /*4行目: 空白行。 高さ10pxの余白 */
        "footer footer footer" auto
        /* 5行目: 3列すべてをフッターで占め、高さは自動(auto) */
        / 260px 10px 1fr;
    /*列幅: 左から260px,10px(隙間), 右が残りスペースいっぱい(1fr) */
}

/* ヘッダー部分のCSS */
.site-header {
    display: flex;
    grid-area: header;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgba(220, 217, 217, 0.45);
    /*背景色をやさしい緑(#ccff90)に設定 */
}

.logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(79, 210, 56);
    color: aliceblue;
}


/*フッター部分のデザイン */
.site-footer {
    display: flex;
    grid-area: footer;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(220, 217, 217, 0.45);
    /* "footer"のエリアに配置(最下部に表示) */
}

.site-footer a {
    margin-left: auto;
    color: #000;

}



/*メイン部分のCSS */
.main {
    grid-area: main;
}
.box {
    display: flex;
    /*フレックスボックスで内部要素を配置　*/
    flex-direction: column;
    /*カードの幅を400pxに固定 */
    padding: 14px;
    /*内側の余白を14pxに設定 */
    /*外側余白を14pxに設定(カード同士の間隔) */
    background-color: rgb(255 255 255 / 70%);
    /*拝啓を白70%の投下で設定 */
    border: 2px solid rgb(217 221 228 / 70%);
    /*薄いグレーの枠線をつける */
    border-radius: 14px;
    /*角丸を14pxに設定 */
    box-shadow: 0 10px 30px rgb(4 7 10 / 12%);
    /*下に柔らかい影をつけて立体感を出す */
}

.ribbon {
    display: block;
    /*インライン要素として扱いつつ、幅や高さを指定可能に */
    padding: 4px 8px;
    /* 上下4px、作用8pxの内側余白を確保 */
    width: 75px;
    color: white;
    /*文字色を白に設定 */
    background-color: #34d399;
    /*明るい緑いろを背景に設定(アクセントカラー) */
    border-radius: 8px;
    /*角を8px丸くしてバッジのように見せる */
}

.cluster {
    display: flex;
    /*ボタンを横方向に並べる */
    flex-wrap: wrap;
    /*横幅を超えた場合、自動で折り返す*/
    gap: 8px;
    /*ボタン同士の会いあに8pxの隙間を作る */
    margin-top: 8px;
    /* 上に8pxの余白をつけて本文と感覚を取る */
}

.btn {
    display: inline-flex;
    /*インライン要素として扱いながら、フレックス整列を使用可能にする */
    gap: 8px;
    /*内部のテキストとアイコンなどの間に8pxの間隔を作る */
    align-items: center;
    /*縦方向(上下)を中央ぞろえにする */
    justify-content: center;
    /*横方向(左右)を中央ぞろえにする　*/
    height: 40px;
    /*ボタンの高さを40pxに設定 */
    padding: 0 14px;
    /*左右に14pxの内側余白をつける */
    font-weight: 800;
    /*文字を太字にする */
    color: white;
    /*文字色を白に設定 */
    background-color: #34d399;
    /*明るい緑色の背景を設定(メインカラー) */
    border: 0;
    /*枠線をなくす */
    border-radius: 999px;
    /*丸みを最大にして「ピル型ボタン」にする */
    box-shadow: 0 10px 30px rgb(4 7 10 /12%);
    /*やわらかい影で浮いたような見た目にする*/
}

.btn:hover {
    translate: 0 -1px;
}

.btn:disabled {
    cursor: not-allowed;
    /*カーソルを「禁止マーク」に変更*/
    opacity: 0.55;
    /*半透明にして無効化を視覚的に示す*/
}

.btn--ghost {
    color: #1f2530;
    /*適すtを濃いグレーに設定*/
    background: transparent;
    /* 背景を透明にしてフラットな印象に */
    border: 1px solid rgb(217 221 228 / 70%);
    /*薄いグレーの枠線をつける*/
    box-shadow: none;
    /*通常の影を削除(すっきりした見た目) */
}

input {
    padding: 8px;
    /*入力欄の内側余白を8pxに設定(テキストと枠の距離を確保) */
    background-color: rgba(220, 217, 217, 0.45);
    outline: none;
    /*フォーカス時のデフォルトの青い枠を非表示にする */
    border: 2px solid #ccc;
    /* グレーの2px実践枠を表示 */
    border-radius: 6px;
    /*角を6px丸める */
}

input:focus {
    border-color: #34d399;
    /* 入力欄をクリック・選択したときに枠線を緑色に変更 */
    box-shadow: 0 0 5px #34d399;
    /*緑色の光をぼかして表示(フォーカスを強調) */
}

textarea {
    padding: 8px;
    /*入力欄の内側余白を8pxに設定(テキストと枠の距離を確保) */
    background-color: rgba(220, 217, 217, 0.45);
    outline: none;
    /*フォーカス時のデフォルトの青い枠を非表示にする */
    border: 2px solid #ccc;
    /* グレーの2px実践枠を表示 */
    border-radius: 6px;
    /*角を6px丸める */
}

textarea:focus {
    border-color: #34d399;
    /* 入力欄をクリック・選択したときに枠線を緑色に変更 */
    box-shadow: 0 0 5px #34d399;
    /*緑色の光をぼかして表示(フォーカスを強調) */
}

select {
    padding: 8px;
    /*入力欄の内側余白を8pxに設定(テキストと枠の距離を確保) */
    outline: none;
    /*フォーカス時のデフォルトの青い枠を非表示にする */
    border: 2px solid #ccc;
    /* グレーの2px実践枠を表示 */
    background-color: rgba(220, 217, 217, 0.45);
    border-radius: 6px;
    /*角を6px丸める */
}

select:focus {
    border-color: #34d399;
    /* 入力欄をクリック・選択したときに枠線を緑色に変更 */
    box-shadow: 0 0 5px #34d399;
    /*緑色の光をぼかして表示(フォーカスを強調) */
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*内部の要素(カード)を横並びにするフレックスレイアウトを使用 */
    width: auto;
    height: auto;
    gap: 16px;
    justify-content: space-between;
    /*子要素がコンテナの幅を超えた場合、自動的に次の行に折り返す設定 */
    /*コンテナの内側余白を14px確保 */
    /* 角を16px丸くする */
}

form {
    display: flex;
    /*フレックスボックスで内部要素を配置　*/
    flex-direction: column;
    /*要素を縦方向に並べる */
    gap: 8px;
    /*要素間の間隔を8pxに設定 */
    width: 1fr;
    /*カードの幅を400pxに固定 */
    padding: 14px;
    /*内側の余白を14pxに設定 */
    margin: 20px;
    /*拝啓を白70%の投下で設定 */
    border: 2px solid #34d399;
    /*薄いグレーの枠線をつける */
    border-radius: 14px;
    /*角丸を14pxに設定 */
}

.gender {
    display:flex;
    flex-direction: column;
    background-color: rgba(220, 217, 217, 0.45);
    gap: 8px;
    /*要素間の間隔を8pxに設定 */
    width: 1fr;
    /*カードの幅を400pxに固定 */
    padding: 14px;
    /*内側の余白を14pxに設定 */
    outline: none;
    /*フォーカス時のデフォルトの青い枠を非表示にする */
    border: 2px solid #ccc;
    /* グレーの2px実践枠を表示 */
    border-radius: 6px;
    /*角を6px丸める */
}

.gender label{
    display:inline-block;
    padding:8px 12px;
    cursor:pointer;
}

.gendertype:has(input:checked){
    border-radius:14px;
    background-color: rgb(85, 247, 193);
    border: solid rgba(34, 222, 47, 0.45);
}

.endtask {
    display:flex;
    flex-direction:column;
    gap:8px;
    padding: 8px;
    /*入力欄の内側余白を8pxに設定(テキストと枠の距離を確保) */
    outline: none;
    /*フォーカス時のデフォルトの青い枠を非表示にする */
    border: 2px solid #ccc;
    background-color: rgba(220, 217, 217, 0.45);
    border-radius: 6px;
    /*角を6px丸める */
}

.taskcheck label{
    display:inline-block;
    padding:8px 12px;
    cursor:pointer;
}

.taskcheck:has(input:checked){
    border-radius:14px;
    background-color: rgb(85, 247, 193);
    border: solid rgba(34, 222, 47, 0.45);
}

.flexBox ul li {
    display: inline-block;
    border: solid #ccc;
    background-color: rgba(220, 217, 217, 0.45);
    border-radius: 999px;
    list-style: none;
    padding-left: 0;
    padding: 8px;
    gap: 10px;
    height: 40px;
    /* 左側の余白を消す */
}

.flexBox ul li:first-child {
    background-color: #34d399;
    border: #34d399;
}

/* サイドバーのCSS */
.sidebar {
    grid-area: side;
    border: 2px solid #ccc;
    background-color: rgba(220, 217, 217, 0.45);
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto;
    font-size: 20px;
    color: #000;
    /* 疑似要素の高さを34pxに設定(テキストとそろうくらいの高さ) */
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar a::before {
    display: inline-block;
    width: 8px;
    /* 疑似要素の横幅を8pxに設定(細い縦帯になる) */
    height: 34px;
    /* 疑似要素の高さを34pxに設定(テキストとそろうくらいの高さ) */
    content: "";
    /*疑似要素を生成する(空の内容でも必須) */
    background-color: #f28b82;
    /* 背景色をやさしい赤(ピンク系)に設定し、縦線を表現する */
}

.sidebar a::after {
    content: ">>";
    margin-left: auto;
    color: #000;
}

@media screen and (max-width: 1079px) {
    .layout {

        /* 横1列構成に変更 */
        grid-template-columns: 1fr;

        grid-template-areas:
            "header"
            "side"
            "main"
            "footer";

        grid-template-rows:
            auto auto 1fr auto;
    }

    .sidebar {
        display: none;
    }

    .side {
        display: block;
        grid-area: side;

    }

    .side h3 {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        background-color: rgba(220, 217, 217, 0.45);
        border: solid #ccc;
    }

    .side .nav {
        display: none;
        border: 2px solid #ccc;
        background-color: rgba(220, 217, 217, 0.45);
        border-radius: 14px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .side .nav a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: auto;
        font-size: 20px;
        color: #000;
        border-radius: 14px;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .side .nav a::before {
        display: inline-block;
        width: 8px;
        /* 疑似要素の横幅を8pxに設定(細い縦帯になる) */
        height: 34px;
        /* 疑似要素の高さを34pxに設定(テキストとそろうくらいの高さ) */
        content: "";
        /*疑似要素を生成する(空の内容でも必須) */
        background-color: #f28b82;
        /* 背景色をやさしい赤(ピンク系)に設定し、縦線を表現する */
    }

    .side .nav ::after {
        content: ">>";
        margin-left: auto;
        color: #000;
    }

    .side:hover>.nav {
        display: block;
    }
}

@media screen and (max-width: 719px) {
    .card{
        display:block;
        flex-direction:column;
    }
}